.button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.8rem 1rem;
  border: none;
  color: var(--color-text);
  background: transparent;
  border: 0.1rem solid;
  border-color: var(--color-text);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 0.2s linear;
}
.button:hover {
  background: rgba(255, 255, 255, 0.15);
}